.juicer-feed h1.referral a {
    color: #4079BC;
}

.juicer-feed .j-paginate {
    color: #4079BC;
    border: 2px solid #4079BC;
}

.juicer-feed .j-paginate:hover {
    color: #FFFFFF;
    background: #4079BC;
}