/* =============================
============BODY TAGS===========
============================= */

body{
  margin:0px 0px 0px 0px;
  color: #777777;
  width: 100%;
  font-family: Open Sans,sans-serif;
  background-color: #F3F3F3;
}

table{
    width:80%;
}
table, th, td{
    border: 1px solid white;
    margin-left:auto;
    margin-right:auto;


}
th{
    font: 14px Open Sans, sans-serif;
    padding: 5px 0px 5px 5px;
    margin: -30px -30px 10px -30px;
    color: #FFFFFF;
    background: #00DDD8;
    border-bottom:1px solid #02F5EF;
}

td{
    background-color: #EEEEEE;
    color: #353634;
}

img.centered {
    display: block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

img.contentImg {
    display: block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
}

img.aboutPhoto{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 200px;
    height: 200px;
    float: left;

}

.bold{
    font-weight: bold;
}

/* =============================
============CLASSES=============
===============================*/
.container{
}

.content{
    width: 85%;
    height: 100%;
    margin-top: 10px;
    margin: 0 auto 0 auto;
    padding: 5% 0 5% 0;
    color: #555555;
    font-family: Open Sans;
}

.content h3 {
    text-align: center;
    font-size: 36px;
    font-family: Montserrat ,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;

}

.content-grey{
    background-color: #EEEEEE;
    width: 100%
}

/* =============================
=============ICONS==============
===============================*/

.glyphicon-chevron-down {
    width: 100px;
    height: 100px;
    font-size: 70px;
    margin: 15px 0px 0px 0px;
    background: 0 0;
}

.glyphicon-pencil {
    font-size: 80px;
    background: 0 0;
    margin-top: 30px 0px 30px 0px;
}

/* =============================
============BUTTONS=============
===============================*/

.btn, .btn:link, .btn:visited {
    color: #FFFFFF;
    background-color: #FF606E;
    border: 1px solid #FFC9CE;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    margin: 0 auto;
}

.btn:hover{
    color: #FF606E;
    background-color: #FFE3E5;
    border: 1px solid #FAB1B8;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

/* =============================
==========BODY COMPONENTS=======
============================= */

/*Intro Section Home Page*/
#intro{
    background: url(../images/man_cellphone.jpg) no-repeat bottom center scroll;
    background-color: #333333;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

#intro h1 {
    color: #FF606E;
    text-align: center;
    font-size: 52px;
    font-family: Montserrat ,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 27% 0 0 0 ;
    margin-bottom: -15px;
    letter-spacing: 3px;

}

#intro h2{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #00DDD8;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;

}

#intro a:link, a:visited{
    color:rgba(255,255,255,.72);;
}

#intro a:hover{
    color:rgba(255,255,255,1);
}


/*Intro Section DataTracker*/
#introDT{
    background: url(../images/desk.jpg) no-repeat top center scroll;
    background-color: #333333;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table;
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

#introDT h1 {
    color: #FF606E;
    text-align: center;
    font-size: 52px;
    font-family: Montserrat ,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5% 0 0 0 ;
    margin-bottom: -15px;
    letter-spacing: 3px;


}

#introDT h2{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #00DDD8;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;

}

#introDT a:link, a:visited{
    color:rgba(255,255,255,.72);;
}

#introDT a:hover{
    color:rgba(255,255,255,1);
}
/* The Site */
#theSite{
    background-color: #FFFFFF;
}

/* Get Started */
#getStarted{
    background-color: #EEEEEE;
    text-align: center;
}

/* About Me */

#subAboutMe{
    background-color: #EEEEEE;
    width: 100  %;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px 0px 30px 0px;
    padding: 20px;
}



/* Navigation*/
nav.custom {
    font-size: 12 px;
    font-family: Helvetica, sans-serif;
    height: 16 px;
    text-align: center;
    width: 100%;
    margin:0px 0px 0px 0px;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;


}
nav.custom ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: 30%;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;

}

nav.custom li{
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

nav.custom a:link, nav.custom a:visited, nav.custom a:hover{
  font-weight: bold;
  text-align: center;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;

}
nav.custom a:link, nav.custom a:visited{
    color:#FFFFFF;
}

nav.custom li a:hover, nav.custom li a:focus{
    color: #02F5EF;
    background-color: rgba(255,255,255,.4);
}

nav.custom-light {
    font-family: Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    margin:0px 0px 0px 0px;
    background-color: rgba(0, 221,216, 1);
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;


}
nav.custom-light ul {

    list-style-type: none;
    padding: 10px 0;
    overflow: hidden;
    margin-left: 30%;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

nav.custom-light li{
    margin-left: auto;
    margin-right: auto;
    display: inline;
    height: 100%;
}

nav.custom-light a:link, nav.custom-light a:visited {
  font-weight: bold;
  text-align: center;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

nav.custom-light a:link, nav.custom-light a:visited{
    color:#FFFFFF;
}

nav.custom-light li a:hover, nav.custom-light li a:focus{
    color: #FFFFFF;
    background-color: rgba(255,255,255,.4);
    height:100%;
    margin:0;
}
/* =============================
==============FORMS=============
============================= */


/*Contact Form*/
.contactForm {
    margin-left:auto;
    margin-right:auto;
    background: #EEEEEE;
    color: #777777;
    width: 80%;
}

.contactForm label {
    display: block;
    margin: 0px 0px 5px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
}

.contactForm input, .contactForm textarea, .contactForm select {
    border-radius: 0;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow:  none;
}
.contactForm textarea{
    height:100px;
    padding-top: 10px;
}

#contactButton{
    text-align: center;
}

#results{
    text-align: center;
}


/*Add DataForm*/
.addData {
    margin-left:auto;
    margin-right:auto;
    color: #777777;
    width: 80%;
}

.addData label {
    display: block;
    margin: 0px 0px 5px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
}

.addData input, .addData textarea, .addData select {
    border-radius: 0;
    border: 1px solid #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow:  none;
    width:100%;
    margin-bottom: 5px;
}
.addData textarea{
    height:100px;
    padding-top: 10px;
}

#addDataButton{
    text-align: center;
}

#dataResults{
    text-align: center;
}

/*Update Users DataForm*/

#updateUserButton{
    text-align: center;
}

#cellresults{
    text-align: center;
}


